﻿@model MvcValidationAttributes.Models.ConditionalModel
@{
    ViewBag.Title = "Conditional";
}

<h2>Conditional</h2>

@using (Html.BeginForm())
{
    <div>
        <div class="controls">
            @Html.LabelFor(m => m.Dependent, new { @class = "control-label" })
            <div class="control-group">
                @Html.EditorFor(m => m.Dependent)
                @Html.ValidationMessageFor(m => m.Dependent)
            </div>
        </div>
        <div class="controls">
            @Html.LabelFor(m => m.AssociatedProperty, new { @class = "control-label" })
            <div class="control-group">
                @Html.EditorFor(m => m.AssociatedProperty)
                @Html.ValidationMessageFor(m => m.AssociatedProperty)
            </div>
        </div>
        <div class="controls">
            @Html.LabelFor(m => m.DependentProperty2, new { @class = "control-label" })
            <div class="control-group">
                @Html.EditorFor(m => m.DependentProperty2)
                @Html.ValidationMessageFor(m => m.DependentProperty2)
            </div>
        </div>
        <div class="controls">
            @Html.LabelFor(m => m.MustBeJohn, new { @class = "control-label" })
            <div class="control-group">
                @Html.EditorFor(m => m.MustBeJohn)
                @Html.ValidationMessageFor(m => m.MustBeJohn)
            </div>
        </div>
        <div class="controls">
            @Html.LabelFor(m => m.MustBeChecked, new { @class = "control-label" })
            <div class="control-group">
                @Html.EditorFor(m => m.MustBeChecked)
                @Html.ValidationMessageFor(m => m.MustBeChecked)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Submit" class="btn" />
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}