﻿@model MvcValidationAttributes.Models.DateValueModel
@{
    ViewBag.Title = "Date";
}

<h2>Date</h2>

@if (Model != null)
{
    <div>
        @Html.DisplayNameFor(m => m.CustomDate):
        @Model.CustomDate.ToString("ddd MMM dd, yyyy")
    </div>
    <div>
        @Html.DisplayNameFor(m => m.MustBeDate):
        @Model.MustBeDate.ToString("ddd MMM dd, yyyy")
    </div>
    <br/>
    <br/>
    <br/>
    
}


<div style="border:1px solid #333; padding: 10px 5px;">
    @using (Html.BeginForm())
    {
        <div class="control-group">
            @Html.LabelFor(model => model.MustBeDate, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.MustBeDate)
                @Html.ValidationMessageFor(model => model.MustBeDate)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.CustomDate, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CustomDate)
                @Html.ValidationMessageFor(model => model.CustomDate)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Submit" />
        </div>
    }
</div>

@section scripts {
    <script src="~/Scripts/date.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}