﻿@model MvcValidationAttributes.Models.FileExtensionsModel
@{
    ViewBag.Title = "FileExt";
}

<h2>FileExt</h2>

@using (Html.BeginForm())
{
    <div>
        <div class="control-group">
            @Html.LabelFor(m => m.File, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.File, new { type = "file" })
                @Html.ValidationMessageFor(m => m.File)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Submit" />
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}