﻿@model MvcValidationAttributes.Models.HomeIndexModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using(Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <div>
        @Html.TextBoxFor(model => model.File, new { type = "file" })
        @Html.ValidationMessageFor(model => model.File)
    </div>
    <div>
        <input type="submit" name="" value="Submit" />
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}