﻿@model MvcValidationAttributes.Models.RequireValueModel
@{
    ViewBag.Title = "RequireValue";
}

<h2>RequireValue</h2>

@using(Html.BeginForm()) {
    <div>
        @Html.LabelFor(model => model.ShouldBeTrue)
        @Html.EditorFor(model => model.ShouldBeTrue)
        @Html.ValidationMessageFor(model => model.ShouldBeTrue)
    </div>
    <div>
        @Html.LabelFor(model => model.ShouldBeFalse)
        @Html.EditorFor(model => model.ShouldBeFalse)
        @Html.ValidationMessageFor(model => model.ShouldBeFalse)
    </div>
    <div>
        @Html.LabelFor(model => model.ShouldBeZero)
        @Html.EditorFor(model => model.ShouldBeZero)
        @Html.ValidationMessageFor(model => model.ShouldBeZero)
    </div>
    <div>
        @Html.LabelFor(model => model.ShouldBeOne)
        @Html.EditorFor(model => model.ShouldBeOne)
        @Html.ValidationMessageFor(model => model.ShouldBeOne)
    </div>
    <div>
        @Html.LabelFor(model => model.ShouldBeOnePointOne)
        @Html.TextBoxFor(model => model.ShouldBeOnePointOne)
        @Html.ValidationMessageFor(model => model.ShouldBeOnePointOne)
    </div>
    <div>
        @Html.LabelFor(model => model.ShouldBeJohn)
        @Html.EditorFor(model => model.ShouldBeJohn)
        @Html.ValidationMessageFor(model => model.ShouldBeJohn)
    </div>
    <div>
        <input type="submit" name="" value="Submit" />
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}